@import "reset.css";

header.top-site {
    min-height: 80px;
    width: 100%;
    position: relative;
    background-color: var(--header);
}

footer.footer-site {
    background-color: #343433;
}
/* tablet ou celular landscape */
@media (min-width:576px){
    
}
/* desktop */
@media (min-width:768px){

}
/* large desktop */
@media (min-width: 992px){

}
/* extra large desktop */
@media (min-width: 1200px){

}